### INDICE
* [**1) Notebook**](#section_notebook)
* [**2) Import data**](#section_import)
* [**3) Validation**](#section_val)

# 0) Notebook <a id='section_notebook'></a>

In [1]:
#### Librer√≠as y modulos ####
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from pandas.io import gbq
from datetime import datetime
import warnings
#import missingno as msno

In [2]:
#### Configuraciones de la notebook ####
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.filterwarnings("ignore")

In [3]:
#### Parametros de la notebook ####
path_save = '../datos/'
filter_date = str("2022-04-01")

# 1) Import data <a id='section_import'></a>

In [4]:
#!pip install pandas-gbq

In [10]:
# Importar tabla de Big Query
query = '''SELECT *
           FROM `data-team-k.pricing_data.match_meli_ok`
           WHERE date between '{}' and "2022-04-18"
            '''.format(filter_date)
df_meli = gbq.read_gbq(query, project_id="data-team-k")

In [11]:
df_meli.shape

(832016, 42)

In [12]:
# Descargarlo como pickle
fecha = datetime.today().strftime('%Y-%m-%d')
df_meli.to_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [13]:
# Upload del pickle
#df_meli = pd.read_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [14]:
df_meli.date.max()

datetime.date(2022, 4, 18)

# 2) Validation <a id='section_val'></a>

In [15]:
df_meli.shape

(832016, 42)

In [16]:
df_meli.isnull().sum()

runtime                  0
date                     0
timestamp                0
date_hour           832016
price_symbol             0
price_amount_txt         0
price_amount             0
car_year               475
car_kms_txt              0
car_kms                475
km                       0
car_title                0
car_location             0
car_location_0           0
car_location_1         840
car_link                 0
car_id                   0
year                     0
brand                    0
model                    0
version                  0
dealer                   0
match_marca_a         1011
score_marca_a         1011
match_modelo_a        1011
score_modelo_a        1011
match_v1_a            1011
score_v1_a            1011
total_score_a         1011
Seg_a                 1011
Subseg_a              1011
gama_a                1011
match_marca_c         1011
score_marca_c         1011
match_modelo_c        1011
score_modelo_c        1011
match_v1_c            1011
score_v1_c            1011
total_score_c         1011
Seg_c                 1011
Subseg_c              1011
gama_c                1011
dtype: int64

In [19]:
########## corrida actual #########
df_meli.select_dtypes(exclude='object').describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,km,year,dealer,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,832016.00,831541.00,831541.00,832016,832016.00,832016,831005.00,831005.00,831005.00,831005.00,831005.00,831005.00,831005.00,831005.00
unique,NaN,NaN,NaN,2,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,831541,NaN,462542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2734270.71,2015.26,87421.65,NaN,2015.26,NaN,99.60,97.98,85.91,84.09,99.60,96.59,88.87,85.73
std,2769250.27,4.26,124966.71,NaN,4.26,NaN,2.13,9.14,16.69,18.47,1.94,11.37,17.97,20.31
min,1850.00,2006.00,0.00,NaN,2006.00,NaN,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,58700.00,2009.00,0.00,NaN,2009.00,NaN,100.00,95.00,61.00,60.00,100.00,90.00,67.00,55.80
25%,1350000.00,2012.00,28000.00,NaN,2012.00,NaN,100.00,100.00,77.00,75.00,100.00,100.00,82.00,80.00
50%,2230000.00,2016.00,80000.00,NaN,2016.00,NaN,100.00,100.00,90.00,89.24,100.00,100.00,100.00,92.00
75%,3550000.00,2019.00,126000.00,NaN,2019.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,5460000.00,2021.00,173000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,10500000.00,2021.00,298000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,132000000.00,2021.00,15000000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00