### INDICE
* [**1) Notebook**](#section_notebook)
* [**2) Import data**](#section_import)
* [**3) Validation**](#section_val)

# 0) Notebook <a id='section_notebook'></a>

In [1]:
#### Librer√≠as y modulos ####
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from pandas.io import gbq
from datetime import datetime
import warnings
#import missingno as msno

In [2]:
#### Configuraciones de la notebook ####
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.filterwarnings("ignore")

In [3]:
#### Parametros de la notebook ####
path_save = '../datos/'
filter_date = str("2022-04-20")

# 1) Import data <a id='section_import'></a>

In [4]:
#!pip install pandas-gbq

In [5]:
# Importar tabla de Big Query
query = '''SELECT *
           FROM `data-team-k.pricing_data.match_meli_ok`
           WHERE date = '{}'
            '''.format(filter_date)
df_meli = gbq.read_gbq(query, project_id="data-team-k")

In [6]:
df_meli.shape

(105549, 42)

In [7]:
# Descargarlo como pickle
#fecha = datetime.today().strftime('%Y-%m-%d')
df_meli.to_pickle('{}df_score_oot{}.pkl'.format(path_save,filter_date))

In [8]:
# Upload del pickle
#df_meli = pd.read_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [9]:
df_meli.date.max()

datetime.date(2022, 4, 20)

# 2) Validation <a id='section_val'></a>

In [10]:
df_meli.shape

(105549, 42)

In [13]:
df_meli.dtypes

runtime             datetime64[ns, UTC]
date                             dbdate
timestamp           datetime64[ns, UTC]
date_hour                datetime64[ns]
price_symbol                     object
price_amount_txt                 object
price_amount                    float64
car_year                          Int64
car_kms_txt                      object
car_kms                         float64
km                              boolean
car_title                        object
car_location                     object
car_location_0                   object
car_location_1                   object
car_link                         object
car_id                           object
year                              Int64
brand                            object
model                            object
version                          object
dealer                          boolean
match_marca_a                    object
score_marca_a                     Int64
match_modelo_a                   object
score_modelo_a                    Int64
match_v1_a                       object
score_v1_a                        Int64
total_score_a                   float64
Seg_a                            object
Subseg_a                         object
gama_a                           object
match_marca_c                    object
score_marca_c                     Int64
match_modelo_c                   object
score_modelo_c                    Int64
match_v1_c                       object
score_v1_c                        Int64
total_score_c                   float64
Seg_c                            object
Subseg_c                         object
gama_c                           object
dtype: object

In [11]:
df_meli.isnull().sum()

runtime                  0
date                     0
timestamp                0
date_hour           105549
price_symbol             0
price_amount_txt         0
price_amount             0
car_year                 0
car_kms_txt              0
car_kms                  0
km                       0
car_title                0
car_location             0
car_location_0           0
car_location_1         111
car_link                 0
car_id                   0
year                     0
brand                    0
model                    0
version                  0
dealer                   0
match_marca_a            0
score_marca_a            0
match_modelo_a           0
score_modelo_a           0
match_v1_a               0
score_v1_a               0
total_score_a            0
Seg_a                    0
Subseg_a                 0
gama_a                   0
match_marca_c            0
score_marca_c            0
match_modelo_c           0
score_modelo_c           0
match_v1_c               0
score_v1_c               0
total_score_c            0
Seg_c                    0
Subseg_c                 0
gama_c                   0
dtype: int64

In [14]:
########## corrida actual #########
df_meli.select_dtypes(exclude='object').describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,km,year,dealer,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,105549.00,105549.00,105549.00,105549,105549.00,105549,105549.00,105549.00,105549.00,105549.00,105549.00,105549.00,105549.00,105549.00
unique,NaN,NaN,NaN,1,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,True,NaN,True,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,105549,NaN,59128,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2849856.19,2015.35,86206.17,NaN,2015.35,NaN,99.56,98.03,85.94,84.13,99.57,96.43,88.64,85.32
std,2903852.51,4.28,123742.37,NaN,4.28,NaN,2.11,9.04,16.63,18.39,1.98,11.67,17.97,20.38
min,1850.00,2006.00,0.00,NaN,2006.00,NaN,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,62900.00,2009.00,0.00,NaN,2009.00,NaN,100.00,100.00,62.00,60.00,100.00,90.00,64.00,55.00
25%,1390000.00,2012.00,24340.00,NaN,2012.00,NaN,100.00,100.00,77.00,75.00,100.00,100.00,82.00,78.00
50%,2330000.00,2016.00,80000.00,NaN,2016.00,NaN,100.00,100.00,90.00,90.00,100.00,100.00,100.00,92.00
75%,3700000.00,2019.00,125000.00,NaN,2019.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,5700000.00,2021.00,172000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,11000000.00,2021.00,295000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,130000000.00,2021.00,15000000.00,NaN,2021.00,NaN,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00