### INDICE
* [**1) Notebook**](#section_notebook)
* [**2) Import data**](#section_import)
* [**3) Validation**](#section_val)

# 0) Notebook <a id='section_notebook'></a>

In [1]:
#### Librer√≠as y modulos ####
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import sklearn
from pandas.io import gbq
from datetime import datetime
import warnings
import missingno as msno

In [2]:
#### Configuraciones de la notebook ####
#pd.set_option('display.max_columns', 500)
#pd.set_option('display.width', 1000)
pd.set_option('display.float_format', lambda x: '%.2f' % x)
warnings.filterwarnings("ignore")

In [7]:
#### Parametros de la notebook ####
path_save = '../datos/'
filter_date = str("2022-02-01")

# 1) Import data <a id='section_import'></a>

In [4]:
# Importar tabla de Big Query
query = "SELECT * FROM `data-team-k.pricing_data.match_meli_ok` WHERE date > '{}' ".format(filter_date)
df_meli = gbq.read_gbq(query, project_id="data-team-k")

In [8]:
# Descargarlo como pickle
fecha = datetime.today().strftime('%Y-%m-%d')
df_meli.to_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [9]:
# Upload del pickle
#df_meli = pd.read_pickle('{}df_meli_{}.pkl'.format(path_save,fecha))

In [10]:
df_meli.date.max()

Timestamp('2022-03-01 00:00:00')

# 2) Validation <a id='section_val'></a>

In [11]:
df_meli.shape

(2592757, 42)

In [12]:
df_meli.isnull().sum()

runtime                   0
date                      0
timestamp                 0
date_hour           2592757
price_symbol              0
price_amount_txt          0
price_amount              0
car_year                  0
car_kms_txt               0
car_kms                   0
km                        0
car_title                 0
car_location              0
car_location_0            0
car_location_1         3437
car_link                  0
car_id                    0
year                      0
brand                     0
model                     0
version                   0
dealer                    0
match_marca_a             9
score_marca_a             9
match_modelo_a            9
score_modelo_a            9
match_v1_a                9
score_v1_a                9
total_score_a             9
Seg_a                     9
Subseg_a                  9
gama_a                    9
match_marca_c             9
score_marca_c             9
match_modelo_c            9
score_modelo_c            9
match_v1_c                9
score_v1_c                9
total_score_c             9
Seg_c                     9
Subseg_c                  9
gama_c                    9
dtype: int64

In [55]:
######### benchmark ########## (no correr este chunk)
df_meli.describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,year,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,3907159.00,3907159.00,3907159.00,3907159.00,3906956.00,3906956.00,3906956.00,3906956.00,3906956.00,3906956.00,3906956.00,3906956.00
mean,2407612.95,2015.62,80266.09,2015.62,99.59,97.88,85.72,83.83,99.59,96.32,88.27,84.96
std,2764266.24,4.30,119460.67,4.30,2.11,9.44,16.68,18.58,2.03,11.93,18.54,21.01
min,1111.00,2006.00,0.00,2006.00,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,34900.00,2010.00,0.00,2010.00,100.00,95.00,61.00,60.00,100.00,90.00,63.00,52.00
25%,1070000.00,2012.00,3500.00,2012.00,100.00,100.00,76.00,74.00,100.00,100.00,81.00,78.00
50%,1900000.00,2016.00,75000.00,2016.00,100.00,100.00,90.00,89.00,100.00,100.00,100.00,92.00
75%,3200000.00,2020.00,120000.00,2020.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,4950000.00,2021.00,166666.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,9741269.00,2021.00,287000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,145000000.00,2022.00,11111111.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00

In [13]:
########## corrida actual #########
df_meli.describe(percentiles=[0.1,0.25,0.5,0.75,0.90,0.99])

,price_amount,car_year,car_kms,year,score_marca_a,score_modelo_a,score_v1_a,total_score_a,score_marca_c,score_modelo_c,score_v1_c,total_score_c
count,2592757.00,2592757.00,2592757.00,2592757.00,2592748.00,2592748.00,2592748.00,2592748.00,2592748.00,2592748.00,2592748.00,2592748.00
mean,2479821.47,2015.55,83706.15,2015.55,99.59,97.95,85.85,84.01,99.59,96.40,88.42,85.16
std,2862204.20,4.25,795099.34,4.25,2.13,9.28,16.70,18.54,2.02,11.82,18.35,20.80
min,2000.00,2006.00,0.00,2006.00,33.00,0.00,0.00,0.00,50.00,0.00,0.00,0.00
10%,34110.00,2010.00,0.00,2010.00,100.00,95.00,61.00,60.00,100.00,90.00,64.00,55.00
25%,1145000.00,2012.00,12000.00,2012.00,100.00,100.00,77.00,74.52,100.00,100.00,82.00,78.00
50%,1970000.00,2016.00,76000.00,2016.00,100.00,100.00,90.00,89.00,100.00,100.00,100.00,92.00
75%,3270002.00,2020.00,121000.00,2020.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
90%,5000003.00,2021.00,168000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
99%,9999999.00,2021.00,289000.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00
max,145000000.00,2022.00,400002015.00,2021.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00,100.00